.dateDisplay {
  color: var(--dm-color-text-dim);
  font-size: 0.8rem;
  font-family: Consolas, Inconsolata, Menlo, monospace;
  position: relative;
  margin-left: 4rem;
}

.timeDisplay {
  color: var(--dm-color-text-dim);
  font-size: 0.8rem;
  font-family: Consolas, Inconsolata, Menlo, monospace;
  position: relative;
}
