html {
  height: 100%;
  overflow: hidden;
}

#app {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  color: aliceblue;
  font-family: 'Exo 2', sans-serif;
  overflow: hidden;
}

.viewport {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.hud {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}
