html {
  height: 100%;
  overflow: hidden;
  background-color: black;
}

#app {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  color: aliceblue;
  font-family: sans-serif;
  overflow: hidden;
}

.dm-theme-dark {
  background-color: transparent;
}

.page-header {
  background-color: black;
}

.page-header-text {
  position: relative;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.9rem;
  top: -1px;
  color: var(--dm-color-text-dim);
}

.page-content {
  position: relative;;
  background-color: transparent;
}

.viewport {
  position: absolute;
  padding: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.hud {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}
